[Desktop Entry]
Type=Application
Name=Freeview
Comment=FreeSurfer Visualization GUI
Exec=bash -ic "freeview"
Icon=application-x-executable
Terminal=false
