@import "mocha.css"; 

* {
    font-family: "JetBrainsMono Nerd Font", "JetBrainsMono", monospace;
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: transparent;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
    border-bottom: none;
}

#window {
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
    color: @text;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 6px 12px;
}

button:hover {
    background: inherit;
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.6);
    color: @rosewater;
    border-top: 2px solid @rosewater;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.6);
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad,
#custom-bluetooth {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

#clock {
    color: @mauve;
    border-bottom: none;
}

#clock.date {
    color: @mauve;
    border-bottom: none;
}

#pulseaudio {
    color: @mauve;
    border-bottom: none;
}

#network {
    color: @mauve;
    border-bottom: none;
}

#battery {
    color: @mauve;
    border-bottom: none;
}

#cpu {
    color: @mauve;
    border-bottom: none;
}

#memory {
    color: @mauve;
    border-bottom: none;
}

#temperature {
    color: @mauve;
    border-bottom: none;
}

#custom-bluetooth {
    color: @mauve;
    border-bottom: none;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#custom-vpn {
    color: @mauve;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
}
